@using LetsGame.Areas.Hub.Models
@model ControlModel_EventData

<div class="dropdown-center">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu text-dark">
        <li class="dropdown-item">
            <partial name="Controls/_UpdateEvent" model="@Model"/>
        </li>
        <li class="dropdown-item">
            <partial name="Controls/_DeleteEvent" model="@Model" />
        </li>
    </ul>
</div>