@using LetsGame.Areas.Hub.Models.Controls;
@model EventButtonModel

@*<div class="dropdown-center">
    <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end text-dark">
        <li class="dropdown-item">
            <partial name="Controls/_UpdateEvent" model="@Model"/>
        </li>
        <li class="dropdown-item">
            <partial name="Controls/_DeleteEvent" model="@Model" />
        </li>
    </ul>
</div>*@