@using LetsGame.Areas.Hub.Models.Controls;
@model PinEventButtonModel

<button id="@Model.EventID" class="btn btn-sm @(Model.IsPinned ? "btn-primary" : "btn-outline-primary")" onclick="pinEvent(@Model.EventID)">
	@if (Model.IsPinned) {
		<i class="bi bi-pin-fill"></i>
	}
	else {
		<i class="bi bi-pin-angle"></i>
	}
</button>
@Html.AntiForgeryToken()
