@using LetsGame.Areas.Identity.Data
@using LetsGame.Services
@using LetsGame.Data.Models

<form type="post" asp-area="Hub" asp-page="Friends/Index">
    <div id="search-results"></div>
    <input type="text" size="30" onkeyup="displayUsers(this.value)" />
    <input type="hidden" id="selection" name="friendID" value="" />
    <button type="submit" asp-page-handler="AddFriend" class="btn btn-danger">Add Friend</button>
</form>