@using LetsGame.Areas.Identity.Data
@using LetsGame.Services
@model string

<div class="row"><h4>Message Bar</h4></div>
<div class="row flex-grow-1 app-mode-row">
	<div class="col flex-column flex-grow-1 app-mode-col">
		<div>@Model</div>
	</div>
</div>
