@using LetsGame.Areas.Identity.Data
@inject UserManager<LetsGame_User> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
}

<div class="row justify-content-center">
	<div class="col">
		<img class="img-fluid" src="/Resources/DefaultProfilePicure.jpg"/>
	</div>
</div>
<div class="row flex-grow-1">
	<div class="col">
		<h3 class="lead">@user.UserName</h3>
	</div>
</div>