@using Microsoft.AspNetCore.Identity
@using LetsGame.Areas.Identity.Data;

@inject SignInManager<LetsGame_User> SignInManager
@inject UserManager<LetsGame_User> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout",out var parentLayout)) {
        Layout = (string)parentLayout;
    }
    else {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }

    LetsGame_User lgu = await UserManager.GetUserAsync(User);
}

<div class="row justify-content-center text-center text-light">
    <div class="col">
	    <div class="bg-dark rounded-3 p-5">
		    <h1 class="display-4">Welcome to you Hub</h1>
	    </div>
    </div>
</div>

<div class="row justify-content-center flex-grow-1">
    <div class="d-flex col-3 flex-column h-100">
        <partial name="_HubLeftPanel" />
    </div>
    <div class="d-flex col-9 flex-column h-100">
        <div class="row">
            <partial name="_HubNav">
        </div>
        <div class="row flex-grow-1">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}