@using LetsGame.Areas.Identity.Data
@using LetsGame.Services
@using LetsGame.Data.Models
@model List<FriendData>

<label for="users">Type to search for your friends</label>
<datalist id="users">
    @foreach (var result in Model) {
        <option data-value="@result.ID" value="@result.Username" class="col btn btn-primary"></option>
    }
</datalist>