@page "{pollID:long}"
@model LetsGame.Areas.Hub.Pages.Polls.PollDeleteModel
@{
	ViewData["Title"] = "Delete Poll";
}


<h1> Are you sure you want to delete this poll?</h1>

<!--Button to Delete, Button to Cancel/Back, Button to Configure Event Owner-->
<div class=" d-inline-flex row">
	<form method="post" asp-page="/Polls/Delete" asp-route-returnUrl="@Model.ReturnURL">
		<button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-pollID="@Model.Poll.ID" asp-route-returnUrl="@Model.ReturnURL">
			Delete
		</button>
		<button type="submit" class="btn btn-primary">
			Cancel
		</button>
	</form>
</div>