@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lets game is an app that is designed to help you and your friends play more and organise less.</p>
    <p>Did you know that the average board game group can spend hours organising when to meet, which games to bring with them and which games they will actually play. That is all time that could be spent playing!</p>
    <p>So what are you waiting for? Sign up for free and allow Lets Game to organise your next board gaming Extraveganza!</p>
</div>
