@page
@using LetsGame.Services
@model LetsGame.Areas.Hub.Pages.Friends.IndexModel
@{
	ViewData["Title"] = "Friends";
}

@section Scripts{
	<script src="~/js/FriendsPage.js"></script>
}
<!--Friends List-->
<div class="col d-flex flex-column">
	<div class="row mb-2">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<button onclick="displayFriends(&quot;.tabs&quot;, this)" class="nav-link tabs active" aria-current="page" href="#">Friends</button>
			</li>
			<li class="nav-item">
				<button onclick="displayFriendRequests(&quot;.tabs&quot;, this)" class="nav-link tabs">Friend Requests</button>
			</li>
			<li class="nav-item">
				<button onclick="displaySendRequests(&quot;.tabs&quot;, this)" class="nav-link tabs">Pending Requests</button>
			</li>
		</ul>
	</div>
	<div class="row flex-grow-1 app-mode-row">
		<div class="col-3 d-flex flex-column flex-grow-1">
			<div class="row flex-grow-1 app-mode-row">
				<div id ="page-list" class="col d-flex flex-column flex-grow-1">
					<partial name="Friends/_FriendsList" model="@Model.Options"/>
				</div>
			</div>
		</div>
		<!--Chat-->
		<div id="display" class="col-9 d-flex flex-grow-1">

		</div>
	</div>
</div>
