@page
@model LetsGame.Areas.Hub.Pages.Friends.IndexModel
@{
	ViewData["Title"] = "Friends";
}

@section Scripts{
	<script src="~/js/single-page-app-mode.js"></script>
}
<!--Friends List-->
<div class="col-3 d-flex flex-column flex-grow-1">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Friends</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Friend Requests</a>
			</li>
		</ul>
	</div>
	<div class="row flex-grow-1 app-mode-row">
		<div class="col flex-column flex-grow-1 app-mode-col">
			<ul class="list-group-flush p-0">
				@for(int i = 0; i < 4; i++){
					foreach (string friend in Model.Friends) {
						<li class="list-group-item">
							<h3 class="col lead">@friend</h3>
						</li>
					}
				}
				</ul>
		</div>
	</div>
</div>
<!--Chat-->
<div class="col-9 d-flex flex-column-reverse flex-grow-1">
	<div class="row"><h4>Message Bar</h4></div>
	<div class="row flex-grow-1 app-mode-row">
		<div class="col flex-grow-1 app-mode-col">
			<p style="height:300vh;">1. Some paragraph to force scrollbars...</p>End
		</div>
	</div>
</div>